@using WebApplication4.Models
@model List<Icons>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
  <thead>
      
    <tr>
      <th scope="col">Icon</th>
            <th scope="col">Delete</th>


      <th scope="col">Update</th>


    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
        {
            
        
    <tr>
      <td>@item.Icoo</td>




      <td><a asp-action="Delete" asp-area="Areass" asp-controller="Icons"  asp-route-Id="@item.Id"  class="btn btn-primary" >Deletee</a>
</td>
<td><a   asp-action="Updatee" asp-area="Areass" asp-controller="Icons" asp-route-Id="@item.Id"  class="btn btn-primary">Update</a>
</td>
    </tr>
   

        }
  </tbody>
</table>
