@using WebApplication4.Models
@model Icons
@{
    ViewData["Title"] = "Updatee";
}


  <div class="mb-3">
      <form method="post">
    <label asp-for="Icoo" class="form-label"> </label>
    <input asp-for="Icoo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
    
    <button type="submit" class="btn btn-primary" >Update</button>

    </form>
  </div>
  <table class="table">
  <thead>
  
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Html icons</td>
      <td>fab fa-html5</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Css icons</td>
      <td>fab fa-css3-alt</td>
    </tr>
    <tr>
      <th scope="row">3</th>

      <td >Js icons</td>
      <td >fab fa-js-square</td>
    </tr>
      <tr>
      <th scope="row">4</th>

      <td >Angular icons</td>
      <td >fab fa-angular</td>
    </tr>
      <tr>
      <th scope="row">5</th>

      <td >React icons</td>
      <td >fab fa-react</td>
    </tr>
      <tr>
      <th scope="row">6</th>

      <td >Node Js icons</td>
      <td >fab fa-node-js</td>
    </tr>
     <tr>
      <th scope="row">7</th>

      <td >Node Js icons</td>
      <td >fab fa-node-js</td>
    </tr>
     <tr>
      <th scope="row">8</th>

      <td >sass  icons</td>
      <td >fab fa-sass</td>
    </tr>
     <tr>
      <th scope="row">9</th>

      <td >Less </td>
      <td >fab fa-less</td>
    </tr>
      <tr>
      <th scope="row">10</th>

      <td >Gulp </td>
      <td >fab fa-gulp</td>
    </tr>
      <tr>
      <th scope="row">11</th>

      <td >Grunt </td>
      <td >fab fa-grunt</td>
    </tr>
      <tr>
      <th scope="row">12</th>

      <td >WordPress </td>
      <td >fab fa-wordpress</td>
    </tr>
     <tr>
      <th scope="row">13</th>

      <td >Npm </td>
      <td >fab fa-npm</td>
    </tr>
  </tbody>
  <h1>iconlar ve kodlari hazirdir sadece kopyala ve create olacaq..</h1>
</table>


