@using WebApplication4.Models
@model User
@{
    ViewData["Title"] = "Updatee";
}


  <div class="mb-3">
      <form method="post">
    <label asp-for="Name" class="form-label">Title </label>
    <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     <label asp-for="Description" for="exampleInputEmail1" class="form-label">Image </label>
    <input asp-for="Description" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     <label asp-for="Adress" for="exampleInputEmail1" class="form-label">Descriptions </label>
    <input asp-for="Adress" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     <label asp-for="SocialMedias" for="exampleInputEmail1" class="form-label">Discountpercent </label>
    <input  asp-for="SocialMedias" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <button type="submit" class="btn btn-primary" >Update</button>

    </form>
  </div>
